<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>OnlineExaminationSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminValidation</display-name>
    <servlet-name>AdminValidation</servlet-name>
    <servlet-class>exam.controller.AdminValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminValidation</servlet-name>
    <url-pattern>/AdminValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>exam.database.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentsDao</display-name>
    <servlet-name>StudentsDao</servlet-name>
    <servlet-class>exam.model.StudentsDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentsDao</servlet-name>
    <url-pattern>/StudentsDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstructionsDao</display-name>
    <servlet-name>InstructionsDao</servlet-name>
    <servlet-class>exam.model.InstructionsDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructionsDao</servlet-name>
    <url-pattern>/InstructionsDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionsDao</display-name>
    <servlet-name>QuestionsDao</servlet-name>
    <servlet-class>exam.model.QuestionsDao</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionsDao</servlet-name>
    <url-pattern>/QuestionsDao</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Questions</display-name>
    <servlet-name>Questions</servlet-name>
    <servlet-class>exam.database.Questions</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Questions</servlet-name>
    <url-pattern>/Questions</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InstructionInsert</display-name>
    <servlet-name>InstructionInsert</servlet-name>
    <servlet-class>exam.controller.InstructionInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InstructionInsert</servlet-name>
    <url-pattern>/InstructionInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutStudent</display-name>
    <servlet-name>LogoutStudent</servlet-name>
    <servlet-class>exam.controller.LogoutStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutStudent</servlet-name>
    <url-pattern>/LogoutStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>QuestionInsert</display-name>
    <servlet-name>QuestionInsert</servlet-name>
    <servlet-class>exam.controller.QuestionInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionInsert</servlet-name>
    <url-pattern>/QuestionInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInsert</display-name>
    <servlet-name>StudentInsert</servlet-name>
    <servlet-class>exam.controller.StudentInsert</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInsert</servlet-name>
    <url-pattern>/StudentInsert</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentValidation</display-name>
    <servlet-name>StudentValidation</servlet-name>
    <servlet-class>exam.controller.StudentValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentValidation</servlet-name>
    <url-pattern>/StudentValidation</url-pattern>
  </servlet-mapping>
</web-app>